
*.pper
*.pper
*.pper
*.Rdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/s-369B495B/lock_file
.Rproj.user/82F77723/sources/s-369B495B/E7D9F7DB-contents
.Rproj.user/82F77723/sources/s-369B495B/E7D9F7DB
.Rproj.user/82F77723/sources/s-369B495B/E28351C7-contents
.Rproj.user/82F77723/sources/s-369B495B/E28351C7
.Rproj.user/82F77723/sources/s-369B495B/DD8547F2-contents
.Rproj.user/82F77723/sources/s-369B495B/DD8547F2
.Rproj.user/82F77723/sources/s-369B495B/C1C86F26-contents
.Rproj.user/82F77723/sources/s-369B495B/C1C86F26
.Rproj.user/82F77723/sources/s-369B495B/C0BDF3FF-contents
.Rproj.user/82F77723/sources/s-369B495B/C0BDF3FF
.Rproj.user/82F77723/sources/s-369B495B/BADC6075-contents
.Rproj.user/82F77723/sources/s-369B495B/B9A54E9E-contents
.Rproj.user/82F77723/sources/s-369B495B/ABFAF105-contents
.Rproj.user/82F77723/sources/s-369B495B/A10E82D2-contents
.Rproj.user/82F77723/sources/s-369B495B/A10E82D2
.Rproj.user/82F77723/sources/s-369B495B/95E8A5BA-contents
.Rproj.user/82F77723/sources/s-369B495B/95E8A5BA
.Rproj.user/82F77723/sources/s-369B495B/94204E7D-contents
.Rproj.user/82F77723/sources/s-369B495B/94204E7D
.Rproj.user/82F77723/sources/s-369B495B/9390EF2E-contents
.Rproj.user/82F77723/sources/s-369B495B/9390EF2E
.Rproj.user/82F77723/sources/s-369B495B/88F741C9-contents
.Rproj.user/82F77723/sources/s-369B495B/87064561-contents
.Rproj.user/82F77723/sources/s-369B495B/87064561
.Rproj.user/82F77723/sources/s-369B495B/8521FDF4-contents
.Rproj.user/82F77723/sources/s-369B495B/7A0EA1F-contents
.Rproj.user/82F77723/sources/s-369B495B/7A0EA1F
.Rproj.user/82F77723/sources/s-369B495B/77CF5ABB-contents
.Rproj.user/82F77723/sources/s-369B495B/77CF5ABB
.Rproj.user/82F77723/sources/s-369B495B/663BB59E-contents
.Rproj.user/82F77723/sources/s-369B495B/663BB59E
.Rproj.user/82F77723/sources/s-369B495B/420B5E91-contents
.Rproj.user/82F77723/sources/s-369B495B/420B5E91
.Rproj.user/82F77723/sources/s-369B495B/35BCF5AC-contents
.Rproj.user/82F77723/sources/s-369B495B/35BCF5AC
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/prop/F5CF6965
.Rproj.user/82F77723/sources/prop/F3CA5BFC
.Rproj.user/82F77723/sources/prop/ECE8DF6A
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/sources/prop/E82E96F3
.Rproj.user/82F77723/sources/prop/E7703B46
.Rproj.user/82F77723/sources/prop/DBF6F5EE
.Rproj.user/82F77723/sources/prop/C776DD84
.Rproj.user/82F77723/sources/prop/C2B7CF94
.Rproj.user/82F77723/sources/prop/BFD39D52
.Rproj.user/82F77723/sources/prop/B55B4105
.Rproj.user/82F77723/sources/prop/AF2F164F
.Rproj.user/82F77723/sources/prop/AE67718D
.Rproj.user/82F77723/sources/prop/A428D0
.Rproj.user/82F77723/sources/prop/A1FFF83B
.Rproj.user/82F77723/sources/prop/9C7E6321
.Rproj.user/82F77723/sources/prop/96CB4EF
.Rproj.user/82F77723/sources/prop/90D2866D
.Rproj.user/82F77723/sources/prop/7841E53
.Rproj.user/82F77723/sources/prop/78197CD6
.Rproj.user/82F77723/sources/prop/7566268B
.Rproj.user/82F77723/sources/prop/73BE9E5B
.Rproj.user/82F77723/sources/prop/729F0D01
.Rproj.user/82F77723/sources/prop/6EF5928E
.Rproj.user/82F77723/sources/prop/65B237B5
.Rproj.user/82F77723/sources/prop/647047AB
.Rproj.user/82F77723/sources/prop/61522F6D
.Rproj.user/82F77723/sources/prop/4EE793AE
.Rproj.user/82F77723/sources/prop/420D6B91
.Rproj.user/82F77723/sources/prop/3FA1A386
.Rproj.user/82F77723/sources/prop/3D87A193
.Rproj.user/82F77723/sources/prop/3D0569A1
.Rproj.user/82F77723/sources/prop/3432FC0F
.Rproj.user/82F77723/sources/prop/302F1D40
.Rproj.user/82F77723/sources/prop/284A4897
.Rproj.user/82F77723/sources/prop/28046450
.Rproj.user/82F77723/sources/prop/1CCE9A06
.Rproj.user/82F77723/sources/prop/1A63F15C
.Rproj.user/82F77723/persistent-state
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rhistory
.RDataTmp
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rhistory
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rproj.user/82F77723/pcs/source-pane.pper
*.pper
output/tables/summary_stats_admin2_pin_20190908.csv
output/tables/summary_stats_admin2_pin_20190907_V3.csv
output/tables/summary_stats_admin2_pin_20190907_V2.csv
output/tables/summary_stats_admin2_pin_20190907.xlsx
output/tables/summary_stats_admin2_pin_20190907.csv
output/tables/summary_stats_admin2_add_20190907.csv
output/tables/summary_stats_admin2_add20190908.csv
output/tables/summary_stats_admin2_20190908.csv
output/tables/summary_stats_admin2_20190907.csv
output/tables/summary_stats_admin2_20190906.csv
output/tables/summary_stats_admin220190906.csv
output/tables/summary_stats_admin1_grp_add_20190907.csv
output/tables/summary_stats_admin1_grp_add20190908.csv
output/tables/summary_stats_admin1_grp_20190908.csv
output/tables/summary_stats_admin1_grp_20190907.csv
output/tables/summary_stats_admin1_grp_20190906.csv
output/tables/summary_stats_admin1_add_20190907.csv
output/tables/summary_stats_admin1_add20190908.csv
output/tables/summary_stats_admin1_20190908.csv
output/tables/summary_stats_admin1_20190907.csv
output/tables/summary_stats_admin1_20190906.csv
output/tables/summary_stats_admin0_grp_add_20190907.csv
output/tables/summary_stats_admin0_grp_add20190908.csv
output/tables/summary_stats_admin0_grp_20190908.csv
output/tables/summary_stats_admin0_grp_20190907.csv
output/tables/summary_stats_admin0_grp_20190906.csv
output/tables/summary_stats_admin0_add_20190907.csv
output/tables/summary_stats_admin0_add20190908.csv
output/tables/summary_stats_admin0_20190908.csv
output/tables/summary_stats_admin0_20190906.csv
REACH_CAR_dataset_HH_MSNA_20190907.csv
REACH_CAR_dataset_HH_MSNA_20190908.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL_choices.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL_survey.csv
output/urbainrural.csv
.Rproj.user/82F77723/sources/prop/1D4C589
.Rproj.user/82F77723/sources/prop/22B9B5A7
.Rproj.user/82F77723/sources/prop/335F23AB
.Rproj.user/82F77723/sources/prop/428084
.Rproj.user/82F77723/sources/prop/59BD9140
.Rproj.user/82F77723/sources/prop/61DEEAB5
.Rproj.user/82F77723/sources/prop/A2AA2F07
.Rproj.user/82F77723/sources/prop/C2CA506F
.Rproj.user/82F77723/sources/prop/CA229A5E
.Rproj.user/82F77723/sources/prop/E6C9F83D
.Rproj.user/82F77723/sources/prop/EA5C6D7F
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/s-5D63BDA7/20C17BFA
.Rproj.user/82F77723/sources/s-5D63BDA7/20C17BFA-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/34EBD074-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/35BCF5AC-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/420B5E91-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/42318279
.Rproj.user/82F77723/sources/s-5D63BDA7/42318279-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/433DA841
.Rproj.user/82F77723/sources/s-5D63BDA7/433DA841-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/44450AF2-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/4FA0363E
.Rproj.user/82F77723/sources/s-5D63BDA7/4FA0363E-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/50412217-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/5AE902FB-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/663BB59E-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/6D8F2FFC-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/77CF5ABB-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/7A0EA1F-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/8521FDF4-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/87064561-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/88F741C9-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/8BE1303E-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/90CA41A5-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/9231F35B-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/9390EF2E-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/94204E7D-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/95E8A5BA-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/A10E82D2-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/A6E02665-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/ABFAF105-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/B4421580
.Rproj.user/82F77723/sources/s-5D63BDA7/B4421580-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/B9A54E9E-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/BADC6075-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/BC8C0A1B-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/BDD853BF-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/C0BDF3FF-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/C1C86F26-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/C6B69081-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/DD8547F2-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/E28351C7-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/E5C498A7
.Rproj.user/82F77723/sources/s-5D63BDA7/E5C498A7-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/E7D9F7DB-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/E980455B
.Rproj.user/82F77723/sources/s-5D63BDA7/E980455B-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/F3557FF2-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/FA7369E4-contents
.Rproj.user/82F77723/sources/s-5D63BDA7/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
Archive/input/questionnaire_kobo_hh_combine_v4_FINAL.xlsx
Archive/input/questionnaire_kobo_hh_combine_v4_FINAL_choices.csv
Archive/input/questionnaire_kobo_hh_combine_v4_FINAL_PourAnalyse.xlsx
Archive/input/questionnaire_kobo_hh_combine_v4_FINAL_PourAnalyse_choices.csv
Archive/input/questionnaire_kobo_hh_combine_v4_FINAL_PourAnalyse_survey.csv
Archive/input/questionnaire_kobo_hh_combine_v4_FINAL_survey.csv
Archive/input/questionnaire_MSNA_HH_2019-08-29.csv
Archive/input/questionnaire_MSNA_HH_2019-08-29_WITHLABELSTRUE.csv
Archive/input/questionnaire_MSNA_HH_loop_2019-08-29.csv
Archive/input/REACH_CAR_MSNA_DataAnalysisPlan_Indicators_July2019_HH_FINAL.csv
Archive/input/REACH_CAR_MSNA_DataAnalysisPlan_Indicators_July2019_HH_FINAL.xlsx
Archive/input/REACH_CAR_MSNA_Final_dataset_3008.csv
Archive/input/REACH_CAR_MSNA_Final_dataset_3008.xlsx
Archive/input/sampling_fr_cluster_v3.csv
Archive/input/sampling_fr_cluster_v5.csv
Archive/input/sampling_fr_strata_v2.csv
Archive/input/sampling_fr_strata_v3.csv
Archive/Inputs/questionnaire_kobo_hh_combine_v4_FINAL.xlsx
Archive/Inputs/questionnaire_kobo_hh_combine_v4_FINAL_choices.csv
Archive/Inputs/questionnaire_kobo_hh_combine_v4_FINAL_PourAnalyse.xlsx
Archive/Inputs/questionnaire_kobo_hh_combine_v4_FINAL_PourAnalyse_choices.csv
Archive/Inputs/questionnaire_kobo_hh_combine_v4_FINAL_PourAnalyse_survey.csv
Archive/Inputs/questionnaire_kobo_hh_combine_v4_FINAL_survey.csv
Archive/Inputs/questionnaire_MSNA_HH_2019-08-29.csv
Archive/Inputs/questionnaire_MSNA_HH_2019-08-29_WITHLABELSTRUE.csv
Archive/Inputs/questionnaire_MSNA_HH_loop_2019-08-29.csv
Archive/Inputs/REACH_CAR_MSNA_DataAnalysisPlan_Indicators_July2019_HH_FINAL.csv
Archive/Inputs/REACH_CAR_MSNA_DataAnalysisPlan_Indicators_July2019_HH_FINAL.xlsx
Archive/Inputs/REACH_CAR_MSNA_Final_dataset_3008.xlsx
Archive/Inputs/sampling_fr_cluster_v3.csv
Archive/Inputs/sampling_fr_strata_v2.csv
ExternalShares/REACH_CAR_dataset_MSNA_TablesAggregationsIndicateursCles_20190906.xlsx
input/REACH_CAR_MSNA_Final_dataset_3008.csv
input/REACH_CAR_MSNA_Final_dataset_0309.csv
output/20190906_082845_summary_stats_admin0.csv
output/CAR_REACH_MSNA_Results_Préfecture_20180904.xlsx
output/checkquota1_0309.csv
output/checkquota2_0309.csv
output/DataCleaningLogBook_0309.csv
output/educ_database_final.csv
output/educ_database_tobecleaned.csv
output/freq_scolaire_20190809.csv
output/main_DS_withloop_tobecleaned.csv
output/mismatched_loc_unique_0309.csv
output/MSNA_HH_Analysed_data.csv
output/nutrition_database_final.csv
output/nutrition_database_tobecleaned.csv
output/REACH_CAR_dataset_HH_MSNA_20190906.csv
output/REACH_CAR_dataset_HH_MSNA_20190909.csv
output/REACH_CAR_MSNA_Final_dataset_0309.csv
output/sampling_fr_cluster_v5.csv
output/sampling_fr_strata_v2.csv
output/sante_database_final.csv
output/sante_database_tobecleaned.csv
output/summary_stats_admin0.xlsx
output/tables/PIN/desktop.ini
output/tables/PIN/summary_stats_admin1_grp_pin_20190908.csv
output/tables/PIN/summary_stats_admin1_grp_pin_20190909.csv
output/tables/PIN/summary_stats_admin2_pin_20190908.csv
output/tables/PIN/summary_stats_admin2_pin_20190909.csv
.Rproj.user/82F77723/pcs/files-pane.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/sources/per/t/20C17BFA
.Rproj.user/82F77723/sources/per/t/20C17BFA-contents
.Rproj.user/82F77723/sources/per/t/42318279
.Rproj.user/82F77723/sources/per/t/42318279-contents
.Rproj.user/82F77723/sources/per/t/433DA841
.Rproj.user/82F77723/sources/per/t/433DA841-contents
.Rproj.user/82F77723/sources/per/t/4FA0363E
.Rproj.user/82F77723/sources/per/t/4FA0363E-contents
.Rproj.user/82F77723/sources/per/t/B4421580
.Rproj.user/82F77723/sources/per/t/B4421580-contents
.Rproj.user/82F77723/sources/per/t/E5C498A7
.Rproj.user/82F77723/sources/per/t/E5C498A7-contents
.Rproj.user/82F77723/sources/per/t/E980455B
.Rproj.user/82F77723/sources/per/t/E980455B-contents
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/sources/s-58DF36B5/218DD83E
.Rproj.user/82F77723/sources/s-58DF36B5/218DD83E-contents
.Rproj.user/82F77723/sources/s-58DF36B5/2A751549-contents
.Rproj.user/82F77723/sources/s-58DF36B5/2BD1B705
.Rproj.user/82F77723/sources/s-58DF36B5/2BD1B705-contents
.Rproj.user/82F77723/sources/s-58DF36B5/3592A3F0-contents
.Rproj.user/82F77723/sources/s-58DF36B5/3B10DB2C
.Rproj.user/82F77723/sources/s-58DF36B5/3B10DB2C-contents
.Rproj.user/82F77723/sources/s-58DF36B5/3FC127B3
.Rproj.user/82F77723/sources/s-58DF36B5/3FC127B3-contents
.Rproj.user/82F77723/sources/s-58DF36B5/437F7287
.Rproj.user/82F77723/sources/s-58DF36B5/437F7287-contents
.Rproj.user/82F77723/sources/s-58DF36B5/50A4EE49-contents
.Rproj.user/82F77723/sources/s-58DF36B5/686D5F8D-contents
.Rproj.user/82F77723/sources/s-58DF36B5/7512FC18
.Rproj.user/82F77723/sources/s-58DF36B5/7512FC18-contents
.Rproj.user/82F77723/sources/s-58DF36B5/911F6176-contents
.Rproj.user/82F77723/sources/s-58DF36B5/9FFF86C-contents
.Rproj.user/82F77723/sources/s-58DF36B5/DC8B0CAE-contents
.Rproj.user/82F77723/sources/s-58DF36B5/EAB29F8A
.Rproj.user/82F77723/sources/s-58DF36B5/EAB29F8A-contents
.Rproj.user/82F77723/sources/s-58DF36B5/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rproj.user/82F77723/pcs/files-pane.pper
output/freq_scolaire_20190809_hotfix.csv
input/questionnaire_MSNA_HH_loop_2019-08-29_tobecleaned.csv
ndele_weights.csv
output/DataCleaningLogbook_hh_ind-20190910
output/DataCleaningLogbook_hh_ind-20190910.csv
output/REACH_CAR_dataset_HH_MSNA_20190910.csv
output/REACH_CAR_MSNA_Final_dataset_0309_clean.csv
output/REACH_CAR_MSNA_Final_dataset_0309_clean_sampled.csv
output/tables/PIN/summary_stats_admin1_grp_pin_20190910.csv
output/tables/PIN/summary_stats_admin2_pin_20190910.csv
