
Skip to content
Pull requests
Issues
Marketplace
Explore
@ElliottMess

1
0

    2

ElliottMess/CAR_MSNA_HH_Analysis
Code
Issues 0
Pull requests 0
Projects 0
Wiki
Security
Insights
Settings
CAR_MSNA_HH_Analysis/.gitignore
@ElliottMess ElliottMess Merge branch 'master' into master 43e1c13 28 minutes ago
@ElliottMess
@caldwellst
332 lines (331 sloc) 15.9 KB

*.pper
*.pper
*.pper
*.Rdata
.Rproj.user/
.Rproj.user/
output/borda.csv
pop_admin2.csv
to_sum.csv
.RDataTmp
.Rhistory
*.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/workbench-pane.pper
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/s-9C568C70/22E5F4AA-contents
.Rproj.user/82F77723/sources/s-9C568C70/323CE45E-contents
.Rproj.user/82F77723/sources/s-9C568C70/337D08C4-contents
.Rproj.user/82F77723/sources/s-9C568C70/6639A3A9
.Rproj.user/82F77723/sources/s-9C568C70/6639A3A9-contents
.Rproj.user/82F77723/sources/s-9C568C70/66B66607
.Rproj.user/82F77723/sources/s-9C568C70/66B66607-contents
.Rproj.user/82F77723/sources/s-9C568C70/66ED3F56-contents
.Rproj.user/82F77723/sources/s-9C568C70/81F8F192
.Rproj.user/82F77723/sources/s-9C568C70/81F8F192-contents
.Rproj.user/82F77723/sources/s-9C568C70/83E58717-contents
.Rproj.user/82F77723/sources/s-9C568C70/867562A-contents
.Rproj.user/82F77723/sources/s-9C568C70/89F5762-contents
.Rproj.user/82F77723/sources/s-9C568C70/8C1853D7
.Rproj.user/82F77723/sources/s-9C568C70/8C1853D7-contents
.Rproj.user/82F77723/sources/s-9C568C70/8DF8755A-contents
.Rproj.user/82F77723/sources/s-9C568C70/95474613-contents
.Rproj.user/82F77723/sources/s-9C568C70/B9050499-contents
.Rproj.user/82F77723/sources/s-9C568C70/BC984002-contents
.Rproj.user/82F77723/sources/s-9C568C70/C6494392
.Rproj.user/82F77723/sources/s-9C568C70/C6494392-contents
.Rproj.user/shared/notebooks/paths
col_names.csv
ExternalShares/REACH_CAR_dataset_MSNA_TablesAggregationsIndicateursCles_20190906.xlsx
freq_cols.csv
input/REACH_CAR_MSNA_Final_dataset_0309.csv
input/REACH_CAR_MSNA_Final_dataset_3008.csv
ndele_weights.csv
output/20190906_082845_summary_stats_admin0.csv
output/borda.csv
output/borda.csv
output/educ_database_final.csv
output/educ_database_tobecleaned.csv
output/main_DS_withloop_tobecleaned.csv
output/mismatched_loc_unique_0309.csv
output/MSNA_HH_Analysed_data.csv
output/nutrition_database_final.csv
output/nutrition_database_tobecleaned.csv
output/REACH_CAR_dataset_HH_MSNA_20190906.csv
output/REACH_CAR_dataset_HH_MSNA_20190908.csv
output/REACH_CAR_dataset_HH_MSNA_20190909.csv
output/REACH_CAR_dataset_HH_MSNA_20190910.csv
output/REACH_CAR_dataset_HH_MSNA_20190911.csv
output/REACH_CAR_dataset_HH_MSNA_20190912.csv
output/REACH_CAR_MSNA_Final_dataset_0309.csv
output/REACH_CAR_MSNA_Final_dataset_0309_clean.csv
output/REACH_CAR_MSNA_Final_dataset_0309_clean_sampled.csv
output/sampling_fr_cluster_v5.csv
output/sampling_fr_strata_v2.csv
output/sante_database_final.csv
output/sante_database_tobecleaned.csv
output/summary_stats_admin0.xlsx
output/tables/PIN/desktop.ini
output/tables/PIN/summary_stats_admin0_grp_pin_20190911.csv
output/tables/PIN/summary_stats_admin0_grp_totaux_pin_20190911.csv
output/tables/PIN/summary_stats_admin0_pin_20190911.csv
output/tables/PIN/summary_stats_admin1_grp_pin_20190908.csv
output/tables/PIN/summary_stats_admin1_grp_pin_20190909.csv
output/tables/PIN/summary_stats_admin1_grp_pin_20190910.csv
output/tables/PIN/summary_stats_admin1_grp_pin_20190911.csv
output/tables/PIN/summary_stats_admin1_grp_totaux_pin_20190911.csv
output/tables/PIN/summary_stats_admin1_pin_20190911.csv
output/tables/PIN/summary_stats_admin2_pin_20190908.csv
output/tables/PIN/summary_stats_admin2_pin_20190909.csv
output/tables/PIN/summary_stats_admin2_pin_20190910.csv
output/tables/PIN/summary_stats_admin2_pin_20190911.csv
output/tables/summary_stats_admin0_20190906.csv
output/tables/summary_stats_admin0_20190908.csv
output/tables/summary_stats_admin0_add20190908.csv
output/tables/summary_stats_admin0_add_20190907.csv
output/tables/summary_stats_admin0_grp_20190906.csv
output/tables/summary_stats_admin0_grp_20190907.csv
output/tables/summary_stats_admin0_grp_20190908.csv
output/tables/summary_stats_admin0_grp_add20190908.csv
output/tables/summary_stats_admin0_grp_add_20190907.csv
output/tables/summary_stats_admin1_20190906.csv
output/tables/summary_stats_admin1_20190907.csv
output/tables/summary_stats_admin1_20190908.csv
output/tables/summary_stats_admin1_add20190908.csv
output/tables/summary_stats_admin1_add_20190907.csv
output/tables/summary_stats_admin1_grp_20190906.csv
output/tables/summary_stats_admin1_grp_20190907.csv
output/tables/summary_stats_admin1_grp_20190908.csv
output/tables/summary_stats_admin1_grp_add20190908.csv
output/tables/summary_stats_admin1_grp_add_20190907.csv
output/tables/summary_stats_admin220190906.csv
output/tables/summary_stats_admin2_20190906.csv
output/tables/summary_stats_admin2_20190907.csv
output/tables/summary_stats_admin2_20190908.csv
output/tables/summary_stats_admin2_add20190908.csv
output/tables/summary_stats_admin2_add_20190907.csv
output/urbainrural.csv
REACH_CAR_dataset_HH_MSNA_20190907.csv
REACH_CAR_dataset_HH_MSNA_20190908.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL_choices.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL_survey.csv
output/freq_scolaire_20190809_hotfix.csv
output/freq_scolaire_20190809.csv
output/freq/freq_scolaire_20190809.csv
output/freq/freq_admin_0ig_8_statut_groupe.csv
output/freq/freq_admin2_.csv
output/freq/freq_admin1grp_.csv
output/freq/freq_admin1_.csv
output/freq/freq_admin0grp_.csv
output/freq/freq_admin0_sexHHD_.csv
output/freq/freq_admin0_.csv
output/DataCleaningLogbook_hh_ind-20190911.csv
output/DataCleaningLogbook_hh_ind-20190910.csv
output/DataCleaningLogbook_hh_ind-20190910
output/DataCleaningLogBook_0309.csv
output/checkquota2_0309.csv
output/checkquota1_0309.csv
output/CAR_REACH_MSNA_Results_Préfecture_20180904.xlsx
output/borda/borda_admin2.csv
output/borda/borda_admin1_grp.csv
output/borda/borda_admin1.csv
output/borda/borda_admin0_sexHHD.csv
output/borda/borda_admin0.csv
output/borda.csv
output/borda.csv
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-9C568C70/C6494392-contents
.Rproj.user/82F77723/sources/s-9C568C70/C6494392
.Rproj.user/82F77723/sources/s-9C568C70/BC984002-contents
.Rproj.user/82F77723/sources/s-9C568C70/B9050499-contents
.Rproj.user/82F77723/sources/s-9C568C70/95474613-contents
.Rproj.user/82F77723/sources/s-9C568C70/8DF8755A-contents
.Rproj.user/82F77723/sources/s-9C568C70/8C1853D7-contents
.Rproj.user/82F77723/sources/s-9C568C70/8C1853D7
.Rproj.user/82F77723/sources/s-9C568C70/89F5762-contents
.Rproj.user/82F77723/sources/s-9C568C70/867562A-contents
.Rproj.user/82F77723/sources/s-9C568C70/83E58717-contents
.Rproj.user/82F77723/sources/s-9C568C70/81F8F192-contents
.Rproj.user/82F77723/sources/s-9C568C70/81F8F192
.Rproj.user/82F77723/sources/s-9C568C70/66ED3F56-contents
.Rproj.user/82F77723/sources/s-9C568C70/66B66607-contents
.Rproj.user/82F77723/sources/s-9C568C70/66B66607
.Rproj.user/82F77723/sources/s-9C568C70/6639A3A9-contents
.Rproj.user/82F77723/sources/s-9C568C70/6639A3A9
.Rproj.user/82F77723/sources/s-9C568C70/337D08C4-contents
.Rproj.user/82F77723/sources/s-9C568C70/323CE45E-contents
.Rproj.user/82F77723/sources/s-9C568C70/22E5F4AA-contents
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/pcs/workbench-pane.pper
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rhistory
*.pper
.Rproj.user/82F77723/sources/prop/INDEX
