
*.pper
*.pper
*.pper
*.Rdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/s-369B495B/lock_file
.Rproj.user/82F77723/sources/s-369B495B/E7D9F7DB-contents
.Rproj.user/82F77723/sources/s-369B495B/E7D9F7DB
.Rproj.user/82F77723/sources/s-369B495B/E28351C7-contents
.Rproj.user/82F77723/sources/s-369B495B/E28351C7
.Rproj.user/82F77723/sources/s-369B495B/DD8547F2-contents
.Rproj.user/82F77723/sources/s-369B495B/DD8547F2
.Rproj.user/82F77723/sources/s-369B495B/C1C86F26-contents
.Rproj.user/82F77723/sources/s-369B495B/C1C86F26
.Rproj.user/82F77723/sources/s-369B495B/C0BDF3FF-contents
.Rproj.user/82F77723/sources/s-369B495B/C0BDF3FF
.Rproj.user/82F77723/sources/s-369B495B/BADC6075-contents
.Rproj.user/82F77723/sources/s-369B495B/B9A54E9E-contents
.Rproj.user/82F77723/sources/s-369B495B/ABFAF105-contents
.Rproj.user/82F77723/sources/s-369B495B/A10E82D2-contents
.Rproj.user/82F77723/sources/s-369B495B/A10E82D2
.Rproj.user/82F77723/sources/s-369B495B/95E8A5BA-contents
.Rproj.user/82F77723/sources/s-369B495B/95E8A5BA
.Rproj.user/82F77723/sources/s-369B495B/94204E7D-contents
.Rproj.user/82F77723/sources/s-369B495B/94204E7D
.Rproj.user/82F77723/sources/s-369B495B/9390EF2E-contents
.Rproj.user/82F77723/sources/s-369B495B/9390EF2E
.Rproj.user/82F77723/sources/s-369B495B/88F741C9-contents
.Rproj.user/82F77723/sources/s-369B495B/87064561-contents
.Rproj.user/82F77723/sources/s-369B495B/87064561
.Rproj.user/82F77723/sources/s-369B495B/8521FDF4-contents
.Rproj.user/82F77723/sources/s-369B495B/7A0EA1F-contents
.Rproj.user/82F77723/sources/s-369B495B/7A0EA1F
.Rproj.user/82F77723/sources/s-369B495B/77CF5ABB-contents
.Rproj.user/82F77723/sources/s-369B495B/77CF5ABB
.Rproj.user/82F77723/sources/s-369B495B/663BB59E-contents
.Rproj.user/82F77723/sources/s-369B495B/663BB59E
.Rproj.user/82F77723/sources/s-369B495B/420B5E91-contents
.Rproj.user/82F77723/sources/s-369B495B/420B5E91
.Rproj.user/82F77723/sources/s-369B495B/35BCF5AC-contents
.Rproj.user/82F77723/sources/s-369B495B/35BCF5AC
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/prop/F5CF6965
.Rproj.user/82F77723/sources/prop/F3CA5BFC
.Rproj.user/82F77723/sources/prop/ECE8DF6A
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/sources/prop/E82E96F3
.Rproj.user/82F77723/sources/prop/E7703B46
.Rproj.user/82F77723/sources/prop/DBF6F5EE
.Rproj.user/82F77723/sources/prop/C776DD84
.Rproj.user/82F77723/sources/prop/C2B7CF94
.Rproj.user/82F77723/sources/prop/BFD39D52
.Rproj.user/82F77723/sources/prop/B55B4105
.Rproj.user/82F77723/sources/prop/AF2F164F
.Rproj.user/82F77723/sources/prop/AE67718D
.Rproj.user/82F77723/sources/prop/A428D0
.Rproj.user/82F77723/sources/prop/A1FFF83B
.Rproj.user/82F77723/sources/prop/9C7E6321
.Rproj.user/82F77723/sources/prop/96CB4EF
.Rproj.user/82F77723/sources/prop/90D2866D
.Rproj.user/82F77723/sources/prop/7841E53
.Rproj.user/82F77723/sources/prop/78197CD6
.Rproj.user/82F77723/sources/prop/7566268B
.Rproj.user/82F77723/sources/prop/73BE9E5B
.Rproj.user/82F77723/sources/prop/729F0D01
.Rproj.user/82F77723/sources/prop/6EF5928E
.Rproj.user/82F77723/sources/prop/65B237B5
.Rproj.user/82F77723/sources/prop/647047AB
.Rproj.user/82F77723/sources/prop/61522F6D
.Rproj.user/82F77723/sources/prop/4EE793AE
.Rproj.user/82F77723/sources/prop/420D6B91
.Rproj.user/82F77723/sources/prop/3FA1A386
.Rproj.user/82F77723/sources/prop/3D87A193
.Rproj.user/82F77723/sources/prop/3D0569A1
.Rproj.user/82F77723/sources/prop/3432FC0F
.Rproj.user/82F77723/sources/prop/302F1D40
.Rproj.user/82F77723/sources/prop/284A4897
.Rproj.user/82F77723/sources/prop/28046450
.Rproj.user/82F77723/sources/prop/1CCE9A06
.Rproj.user/82F77723/sources/prop/1A63F15C
.Rproj.user/82F77723/persistent-state
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rhistory
.RDataTmp
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/source-pane.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rhistory
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/82F77723/sources/s-D8944D02/lock_file
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3-contents
.Rproj.user/82F77723/sources/s-D8944D02/3FC127B3
.Rproj.user/82F77723/sources/prop/INDEX
.Rproj.user/82F77723/sources/prop/E958F9B8
.Rproj.user/82F77723/pcs/windowlayoutstate.pper
.Rproj.user/82F77723/pcs/files-pane.pper
.Rproj.user/82F77723/pcs/source-pane.pper
output/tables/summary_stats_admin2_pin_20190908.csv
output/tables/summary_stats_admin2_pin_20190907_V3.csv
output/tables/summary_stats_admin2_pin_20190907_V2.csv
output/tables/summary_stats_admin2_pin_20190907.xlsx
output/tables/summary_stats_admin2_pin_20190907.csv
output/tables/summary_stats_admin2_add_20190907.csv
output/tables/summary_stats_admin2_add20190908.csv
output/tables/summary_stats_admin2_20190908.csv
output/tables/summary_stats_admin2_20190907.csv
output/tables/summary_stats_admin2_20190906.csv
output/tables/summary_stats_admin220190906.csv
output/tables/summary_stats_admin1_grp_add_20190907.csv
output/tables/summary_stats_admin1_grp_add20190908.csv
output/tables/summary_stats_admin1_grp_20190908.csv
output/tables/summary_stats_admin1_grp_20190907.csv
output/tables/summary_stats_admin1_grp_20190906.csv
output/tables/summary_stats_admin1_add_20190907.csv
output/tables/summary_stats_admin1_add20190908.csv
output/tables/summary_stats_admin1_20190908.csv
output/tables/summary_stats_admin1_20190907.csv
output/tables/summary_stats_admin1_20190906.csv
output/tables/summary_stats_admin0_grp_add_20190907.csv
output/tables/summary_stats_admin0_grp_add20190908.csv
output/tables/summary_stats_admin0_grp_20190908.csv
output/tables/summary_stats_admin0_grp_20190907.csv
output/tables/summary_stats_admin0_grp_20190906.csv
output/tables/summary_stats_admin0_add_20190907.csv
output/tables/summary_stats_admin0_add20190908.csv
output/tables/summary_stats_admin0_20190908.csv
output/tables/summary_stats_admin0_20190906.csv
REACH_CAR_dataset_HH_MSNA_20190907.csv
REACH_CAR_dataset_HH_MSNA_20190908.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL_choices.csv
REACH_CAR_MSNA_questionnaire_kobo_hh_combine_v4_FINAL_survey.csv
output/urbainrural.csv
